{% extends "base.html" %}
{% block title %}Edit Venue{% endblock %}
{% block content %}
    <h2>Edit Venue</h2>
    <form method="POST" action="{{ url_for('owner.edit_venue', venue_id=venue.id) }}">
        <label>Name:</label><br>
        <input type="text" name="name" value="{{ venue.name }}" required><br><br>
        <label>Location:</label><br>
        <input type="text" name="location" value="{{ venue.location }}"><br><br>
        <input type="submit" value="Update">
    </form>
{% endblock %}
