{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% block body %}

<div class="main-content">
  <h2>All Venues</h2>
  <form method="GET">
    <input type="text" name="search" value="{{ search }}" placeholder="Search venues...">
    <button type="submit">Search</button>
  </form>

  <div class="venue-cards-container">
    {% for venue in venues %}
    <div class="venue-card">
      <div class="venue-image">
        <img src="{{ venue.image_url or url_for('static', filename='img/default_venue.jpg') }}">
      </div>
      <div class="venue-details">
        <h3>{{ venue.name }}</h3>
        <p>{{ venue.city }}, {{ venue.address }}</p>
        <a href="/player/venue/{{ venue.id }}" class="btn-view-slots">View Slots</a>
      </div>
    </div>
    {% endfor %}
  </div>

  {{ macros.render_pagination(pagination, "player.player_venues", search=search)}}
</div>

{% endblock %}
